@import '../../assets/style/mixins';

.container{
  width: 100%;
  position: relative;
  max-width: 320px;
  @include  flex-start();
  flex-direction: column;
  & .container__label{
    @include font-setter(normal, 600, 16px, 19px, #292929);
    margin-bottom:5px;
    z-index:3;
  }
  & .toggle{
    width: 100%;
    box-sizing: border-box;
    height: 52px;
    padding: 5px;
    background: #F1F3F6;
    box-shadow: -6px -6px 20px #FFFFFF, 4px 4px 20px rgba(54, 84, 170, 0.17), inset 2px 2px 5px rgba(255, 255, 255, 0.61);
    border-radius: 12px;
    @include flex-center();
    &.toggle_margin_top{
      margin-top: 23px;
    }
    & .toggle__button{
      @include clear();
      flex: 1;
      width: 100%;
      transition: all 0.4s ease;
      height: 100%;
      border-radius: 9px;
      cursor: pointer;
      @include flex-center();
      &.toggle__button_disabled{
        cursor: auto;
      }
      & svg{
        margin-right: 10px;
      }
      @include font-setter(normal, 600, 16px, 19px, #292929);
      &:not(.toggle__button_active){
        opacity: 0.4;
      }
      &.toggle__button_active{
        color: #292929;
        background: #F6F7FA;
        box-shadow: -6px -6px 20px #FFFFFF, 4px 4px 20px rgba(54, 84, 170, 0.17), inset 2px 2px 5px rgba(255, 255, 255, 0.61);
      }
      &.toggle__button_blue{
        border: 2px solid #40C9FF;
        & path{
          fill: #40C9FF;
          background: -webkit-linear-gradient(180deg,#40C9FF, #4088FF);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          max-width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        color: #40C9FF;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
